<nav class="navbar navbar-fixed-top navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span class="fa fa-bars"></span>
      </a>
      <div class="dropdown-menu" aria-labelledby="navbarDropdown">
        <a class="dropdown-item" href="#">Men</a>
        <a class="dropdown-item" href="#">Women</a>
        <a class="dropdown-item" href="#">Kids</a>
        <a class="dropdown-item" href="#">New-ins</a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">Saved</a>
        <a class="dropdown-item" href="#">Help & Support</a>
      </div>
    </li>
  </ul>
  <ul class="navbar-nav flex-row">
    <li class="nav-item ml-2">
      <a class="nav-link" href="#"><span class="fa fa-dropbox"></span></a>
    </li>
    <li class="nav-item ml-2">
      <a class="nav-link" href="#"><span class="fa fa-search"></span></a>
    </li>
  </ul>
</nav>